* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: roboto, Arial, Helvetica, sans-serif;
    /* border: 2px solid red; */
}

/* Below is the positioning information */

body, .header-container, .header-top, .header-links, .header-content-container, .body-content-container, .body-tiles, .quote,.ad-container, .footer-container {
    display: flex;
}

body {
    flex-direction: column;
    flex: 1 0 auto;
    justify-content: space-between;
    height: 100vh;
}

.header-container{
    flex-direction: column;
    padding: 15px 150px;
}

.header-top {
    justify-content: space-between;
}

.header-content-details, .header-container img{
    padding: 50px 0px;
}

.header-container img {
    width: 275px;
    height: 265px;
}

.header-content-container {
    gap: 70px;
    flex: 0 0 250px;
}


.header-links{
    gap: 8px;
}

.header-content-details{
    width: 450px;
}

.header-content-details button {
    margin-top: 10px;
}

.header-content-container {
    justify-content: center;
}

.body-content-container {
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
    flex:1;
    /* border: 2px solid red; */
}

h1.body-content-header {
text-align: center;
padding: 50px 150px 0px;
}


.body-tiles {
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    padding: 50px 150px;
    align-items: center;

}

.card {
    flex-basis: 225px;
}

.card img {
    border: 2px solid #3882f6;
    align-items: b;
    border-radius: 10px;
}

.quote {
    flex-direction: column;
    align-items: center;
    padding: 50px 150px;
    gap: 8px;
    margin: 20px 0px;
}

.ad-container {
    justify-content: center;
    align-self: center;
    height: 500px;
    width:auto;
    align-items: center;
    padding: 50px 150px;
    margin: 20px ;
    border-radius: 5px;
    gap: 15px;
}

.ad-content {
    flex: 1
}

.ad-container button {
    flex-shrink: 0 0 150px;
}

.footer-container {
    justify-content: center;
    align-items: center;
    padding: 30px;
}



/* Below is the styling information */
.header-container, .footer-container {
    background-color:#1F2937;

}

.header-links a, .header-content-container p {
    font-size: 18px;
    color: #e5e7eb;
}

.header-logo, .header-content-container h1, .footer-container {
    color: #f9faf8;
}

.header-logo {
    font-size: 24px;
}

.header-content h1 {
    font-size: 48px;
    font-weight: 900;
}

button {
    background: #3882f6;
    color: #f9faf8;
    width: 70px;
    height: 40px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid white;
}

.body-content-container h1 {
    font-size: 36px;
    color: #1f2937;
    weight: 900;
}

.quote p em{
    font-size: 36px;
    color: #1f2937;
    weight: 300;
}

.quote p b em{
    font-size: 20px;
    align-self: flex-end;
 
}

.quote {
    background-color: #e5e7eb;
}

.ad-container {
    background: #3882f6;
    color: #f9faf8;
}

